body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: 'Helvetica Neue', Arial, 'Hiragino Kaku Gothic ProN',
    'Hiragino Sans', Meiryo, sans-serif;
  background-color: #eee;

  a {
    text-decoration: none;
  }

  ::placeholder {
    color: #ccc;
  }
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  color: white;
  background-color: limegreen;

  a {
    color: white;
  }
}

main {
  display: flex;
  justify-content: center;

  .ThreadListTitle {
    padding: 0 10px;
  }
}

input.threadTitleInput {
  border: none;
  border-radius: 3px;
  width: 300px;
  height: 50px;
  font-size: 20px;
  padding: 0 10px;
}

.actionButtonArea {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  margin: 30px 0;
}

button {
  width: 100px;
  height: 40px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  background-color: limegreen;
  color: white;

  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}

.threadContainer,
.postContainer {
  background-color: white;
  border: none;
  padding: 5px 10px;
  width: 500px;

  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }

  & + & {
    margin-top: 10px;
  }

  &:last-child {
    margin-bottom: 30px;
  }
}

.postContainer {
  width: 300px;

  &:hover {
    cursor: default;
    opacity: 1;
  }
}

.threadTitle {
  font-size: 20px;
  color: #333;
}

.threadBody {
  font-size: 16px;
  color: #666;
}

.postsTitle {
  padding: 0 10px;
}

.postsTextarea {
  width: 250px;
  height: 100px;
  border: none;
  padding: 10px;
  box-sizing: border-box;
}

.postsButtonArea {
  margin-top: 30px;
  width: 250px;
  button {
    width: 100%;
    height: 55px;
  }
}

.postsWrapper {
  display: flex;
  justify-content: center;

  & > div {
    width: 300px;
    + div {
      width: 250px;
      margin-left: 50px;
    }
  }
}
